<nav class="navbar navbar-default">
  <form class="navbar-form navbar-left" role="search" ng-submit="search()">

    <div class="input-group">
      <input type="text" class="form-control" ng-model="search.q" placeholder="Cerca...">
      <span class="input-group-btn">
         <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
      </span>
    </div>

  </form>
  <div class="container-fluid">

    <ul class="nav navbar-nav navbar-right">

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false"><i class="fa fa-filter"></i> Filtra</a>
        <ul class="dropdown-menu">
          <li><a href="" ng-click="doFilter('image')"><i
            class="fa fa-picture-o"></i> Foto</a></li>
          <li><a href="" ng-click="doFilter('video')"><i
            class="fa fa-video-camera"></i> Video</a></li>
          <li><a href="" ng-click="doFilter('documents')"><i
            class="fa fa-file-text"></i> Documenti</a></li>
          <li><a href="" ng-click="doFilter(null)"><i
            class="fa fa-files-o"></i> Tutti</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false"><i class="fa"
                                    ng-class="{ 'fa-th-large': layout === 'grid', 'fa-th-list': layout === 'list' }"></i></a>
        <ul class="dropdown-menu">
          <li><a href="" ng-click="changeLayout('list')"><i
            class="fa fa-th-list"></i> Lista</a></li>
          <li><a href="" ng-click="changeLayout('grid')"><i
            class="fa fa-th-large"></i> Griglia</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div ng-include="'app/shared/templates/files-list.tpl.html'"></div>

