<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">CloudBucket</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="albums"><i class="fa fa-folder"></i> Album</a></li>
        <li ui-sref-active="active"><a ui-sref="search"><i class="fa fa-search"></i> Cerca</a></li>
        <li ui-sref-active="active"><a ui-sref="profile">Profilo</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
