<div class="row">
  <div class="col-sm-6 col-md-3" ng-repeat="album in albums">
    <a class="thumbnail" ui-sref="albums/details({ id: album._id })">
      <img class="media-object" src="assets/images/Places-folder-icon.png" alt="" ng-show="album._id">
      <img class="media-object" src="assets/images/Places-folder-grey-icon.png" alt="" ng-hide="album._id">

      <div class="caption">
        <h4>{{album.title}}</h4>

        <p>{{album.count}} file</p>

      </div>
    </a>
  </div>
</div>

<nav class="navbar navbar-fixed-bottom">
  <div class="container text-right">
    <button type="button" class="btn btn-primary navbar-btn" ng-click="newAlbum()">
      <i class="fa fa-plus"></i>
    </button>
  </div>
</nav>
